# some redundancies just to be safe

# Pulled from netbeans template (fits more with ant)
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Pulled from a gradle template
GradleGame/.gradle/
GradleGame/.idea/
GradleGame/.nb-gradle/
GradleGame/build/
GradleGame/nbproject/
GradleGame/private/
GradleGame/Written Assets/
/*.dll
/*.dylib
/*.so
.DS_Store
